@import "tailwindcss";

.custom-toast-container .Toastify__toast {
  background-color: var(--tx-hover);
  font-weight: bolder;
  color: #fff;
  border-radius: 5px;
}

.custom-toast-container button {
  display: none;
}

/* VARIABLES DE CSS */
@layer
base {
    :root {
      --bg-color: #4c716e;
      --bg-color2: #102d827b;
      --bg-color3: #17788F;
      --bg-color4: linear-gradient(to bottom right, #111250, 70%, #17788F67);
      --bg-color5: linear-gradient(180deg, #111250, 75%, #17788Fff);
      --bg-target: #11114422;
      --tx-color: #fff;
      /* --tx-color2: #17f88F; */
      --tx-color2: #ffb6c1; /* Rosa claro pastel */
      --tx-hover: #ff91a4; /* Un tono más oscuro para hover */
      /* --tx-color2: #ffaa00;
      --tx-hover: #ff8800; */
      --txt2-color: #222;
      --btn-cancel: #259;
      --btn-hover: #259;
    }
}

/* TRANSPARENTE */
.diffuse-body {
  background-color: #ff6faa13; /* Color transparente, ajusta la opacidad */
  backdrop-filter: blur(15px); /* Desenfoque para efecto nailon */
  -webkit-backdrop-filter: blur(5px); /* Compatibilidad con navegadores WebKit */
}


/* ESTILOS PARA LOS SCROLL */

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #345; /* Color del thumb */
}
