@import "tailwindcss";

.custom-toast-container .Toastify__toast {
  background-color: var(--bg-color);
  opacity: 0.9;
  font-weight: bolder;
  color: #fff;
  border-radius: 5px;
}

.custom-toast-container button {
  display: none;
}

/* VARIABLES DE CSS */
@layer
base {
    :root {
      /* BUTTONS */
      --btn-color : #f87171;
      --btn-color-hover : #ff6687;
      --btn-cancel: #259;
      --btn-cancel-hover: #259;
      
      /* TEXTS */
      --tx-color: #fff;
      --tx-color2: #ffb6c1;
      --tx-hover: #ff91a4;
      /* --tx-color2: #ffaa00;
      --tx-hover: #ff8800; */
      --txt2-color: #222;

      /* Backgrounds */
      --bg-color: #4c716e;
      --bg-target: #11114422;
    }
}

/* TRANSPARENTE */
.diffuse-body {
  background-color: #ff6faa13; /* Color transparente, ajusta la opacidad */
  backdrop-filter: blur(15px); /* Desenfoque para efecto nailon */
  -webkit-backdrop-filter: blur(5px); /* Compatibilidad con navegadores WebKit */
}


/* ESTILOS PARA LOS SCROLL */

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--btn-color); /* Color del thumb */
}
